---
layout: default
title:  "Did you ever dream to become a movie star?"
---
<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="{{site.baseurl}}assets/images/hero/filmmaking.jpg" style="" alt="">
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>Did you ever dream to become a movie star?</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              We can make this dream come true!
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">

	<p>Looking for very specail gift idea to someone who has everything alredy? 
	Can't come up with team building idea that is not boring? 
	Want to make your 25-th wedding anniversary very special? 
	We think we have great idea for you. 
	<b>A movie</b>. 
	Not just some movie, but one where you are the star.</p>

	<p>We will write for you a story based on your ideas and make 
	a film where you and your friends or colleagues are acting. 
	It can be anything - remake of popular musical video, 15-minutes 
	drama, scene from zombie apocalipse, spy thriller, or sweet story 
	how you and your spouse met each other that you want to share with your children.</p>

	<p>Our professional filmmaking team will organize everithing so 
	you can dive into this magic of cinema and be part of it. 
	Everyone who had participated in our projects before feel 
	very inspired and remember this as very special moment of thier life. 
	But even more, there is now a movie that they can watch again and again, 
	share with thier friends on social networks and collects unlimited likes.</p>

	<p>If you like this idea - don't hesiate to reach out to us and discuss your project in detail.</p>

      </div>
    </div>
    <hr class="u-clearHr"/>
    <hr class="u-clearHr"/>
    <hr/>
    <div class="container container--content">
      <div class="content-body">
        {% include subscribe.html %}
        {% include footer.html %}
      </div>
    </div>
  </section>
</article>
