---
layout: default
title: Елена Нодель
lang: ru
ref: about
---
<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="{{site.base-url}}assets/images/hero/lena.jpg" style="" alt="">
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>Елена Нодель</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              Режиссер, Сценарист, Продюсер
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">

        <h4>Обо мне</h4>

<p>Я Елена Нодель, основатель компании Nodel Films. Я режиссер, сценарист и 
продюсер и очень люблю то, чем я занимаюсь.</p>

<p>Случилось так, что после двадцати лет успешной юридической карьеры я сняла 
свой первый ролик для компании, в которой работала, и настолько влюбилась в 
процесс и в результат, что не смогла остановиться.</p>

<p>Мой короткометражный фильм «Талант», который побывал на Каннском фестивале, 
затронул сердца сотен зрителей.</p>

<p>В моих фильмах и клипах снимались лицеисты и юристы, сотрудники крупных 
корпораций и мамы с бабушками, которые раньше не представляли, что смогут 
почувствовать себя настоящими звездами.</p>

<p>Мне нравится видеть, как обычные люди раскрываются в кадре, как радуются, 
став частью своего собственного, уникального фильма и делятся им с друзьями и родными.</p>

<p>Кино – это всегда праздник. Каким бы трудным порой не был съемочный процесс, это всегда счастье.</p>

<p>Более подробно мою историю можно узнать из 
<a target="_blank" href="http://7sisters.ru/children/40899-elena-nodel-rasskazala-kak-ispolnila-svoyu-detskuyu-mechtu-kogda-sama-stala-mamoy-i-snyala-film-kotoryiy-pokazhut-v-kannah.html">
этого интервью</a>.</p>

<p>А также из этого ролика:</p>
<iframe src="https://player.vimeo.com/video/223876161" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<p>Я часто спрашиваю себя: «Что я сделала, чтобы этот мир стал лучше?» И это здорово, 
когда на это вопрос я могу ответить: «Просто хорошо сделала свою работу».</p>

      </div>
    </div>
    <hr class="u-clearHr"/>
    <hr class="u-clearHr"/>
    <hr/>
    <div class="container container--content">
      <div class="content-body">
        {% include subscribe.html %}
        {% include footer.html %}
      </div>
    </div>
  </section>
</article>
