---
layout: default
title:  "Our Team"
---
<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="{{site.base-url}}assets/images/hero/team.jpg" style="" alt="">
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>Our Team</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              We can make your dream come true!
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">

<h1>Sultan Sukiev, <b>Director of Photography, Editor</b></h1>

<p>Born in Moscow. During his study in VGIK Sultan has started his work as cameraman and director of photography in multiple cinema projects.</p>

<p>Filmography:</p>

<b>Director of Photography,</b>

<ul>
<li>Monkey’s Dream (feature film,2016)</li>
<li>Lost. The Last Hope (series, 2014)</li>
<li>Castle (Russian version, series, 2016-2017)</li>
<li>The Talent (short, 2017, Cannes Festival (Short Film Corner, Diversity in Cannes Official Selection)</li>
<li>Dowry (short, 2013)</li>
<li>Chorine (short, 2012)</li>
<li>Characters (short, 2012)</li>
</ul>

<p>There are multiple Shorts, Advertisements, and Musical videos including videos in cooperation with Noise MS in Sultan’s portfolio as well.</p>

<p>Sultan has his special vision which makes his every shot very meaningful and expressive.</p>

      </div>
    </div>
    <hr class="u-clearHr"/>
    <hr class="u-clearHr"/>
    <hr/>
    <div class="container container--content">
      <div class="content-body">
        {% include subscribe.html %}
        {% include footer.html %}
      </div>
    </div>
  </section>
</article>
