---
layout: default
title:  "Our Team"
---
<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="{{site.base-url}}assets/images/hero/team.jpg" style="" alt="">
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>Our Team</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              We can make your dream come true!
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">

<div class="img img--fullContainer img--14xLeading" style="background-image: url({{ site.baseurl_posts_img }}sultan.jpg);"></div>
<h3>Sultan Sukiev, Director of Photography</h3>

<p>Born in Moscow. During his study in VGIK Sultan has started his work as cameraman and director of photography in multiple cinema projects.</p>

<p>Filmography:</p>
<ul>
<li>Monkey's Dream (feature film,2016)</li>
<li>Lost. The Last Hope (series, 2014)</li>
<li>Castle (Russian version, series, 2016-2017)</li>
<li>The Talent (short, 2017, Cannes Festival (Short Film Corner, Diversity in Cannes Official Selection)</li>
<li>Dowry (short, 2013)</li>
<li>Chorine (short, 2012)</li>
<li>Characters (short, 2012)</li>
</ul>

<p>There are multiple Shorts, Advertisements, and Musical videos including videos in cooperation with Noise MS in Sultan's portfolio as well.</p>

<p>Sultan has his special vision which makes his every shot very meaningful and expressive.</p>



<div class="img img--fullContainer img--14xLeading" style="background-image: url({{ site.baseurl_posts_img }}sergey.jpg);"></div>
<h3>Sergey Petrov - First Assistant Director</h3>

<p>Outstanding professional with 5-years working experience in filmmaking sphere. That is what he is telling about himself:</p>

<p>&#8220;If you are effective First Assistant Director you should know almost everything about filmmaking, 
this is necessary for effective control during shooting process. I'm proud that I have experience in 
different fields of filmmaking, including creative roles and technical assistance. I have been a First 
Assistant Director for Russia TV, Match TV, in some feature films and in multiple advertisements and 
shorts. In addition to my First Assistant Director experience I'm a Producer for one of the Film Production 
companies in Moscow&#8221;.</p>

<p>Sergey keeps moving on and already has one short and one documentary as director.</p>



<div class="img img--fullContainer img--14xLeading" style="background-image: url({{ site.baseurl_posts_img }}gulnara.jpg);"></div>
<h3>Gulnara Tukshaitova, Sound Director</h3>

<p>Born in Moscow. Graduated from the St. Petersburg State Institute of Cinema and Television, 
specializing in sound engineering of audiovisual arts. Gulnara was awarded with "Best Debut" 
prise for the sound solution of the film "Down to the wine cellar" in in The Third International 
Contest-Festival of Student Works of Sound Engineers taking place in St. Petersburg in 2016.</p>

<p>Short films: "Calling for blue rains" "Pike" "The Talent" Animation "Beast" Alternative 
sound design: "Down to the wine cellar " "Presto"</p>

<p>In addition to Sound Directing Gulnara is a professional drummer. She plays in dream-pop/shoegaze 
band &#8220;Life on Venus&#8221;. Have musical experience with six other music bands.</p>



<div class="img img--fullContainer img--14xLeading" style="background-image: url({{ site.baseurl_posts_img }}marta.jpg);"></div>
<h3>Marta Erkenova Production Designer</h3>

<p>Born in Moscow, in the family of cinema professionals. Graduated from VGIK with major in 
Cinema and TV Production Design. There are Feature Film, multiple Shorts, Advertisements, 
and Musical videos including videos in cooperation with Maxim Fadeev's label in Marta's 
portfolio. Marta has magnificent ability to make picturesque any movie.</p>


      </div>
    </div>
    <hr class="u-clearHr"/>
    <hr class="u-clearHr"/>
    <hr/>
    <div class="container container--content">
      <div class="content-body">
        {% include subscribe.html %}
        {% include footer.html %}
      </div>
    </div>
  </section>
</article>
