---
layout:    default
title:     Наша команда
slogan:    'Мы можем воплотить вашу мечту!'
lang:      ru
ref:       team
image:     team.jpg
readnext:  
---
<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="{{site.base-url}}assets/images/hero/team.jpg" style="" alt="">
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>Наша команда</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              Мы можем воплотить вашу мечту!
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">

<div class="img img--fullContainer img--14xLeading" style="background-image: url({{ site.baseurl_posts_img }}sultan.jpg);"></div>
<h3>Султан Сукиев, оператор-постановщик</h3>

<p>Родился в Москве.</p>

<p>Еще в период обучения во ВГИК на кинооператорском факультете (мастерская Юсова В.И.) 
начал активно участвовать в различных кинопроектах. Султан обладает особым операторским 
видением, которое делает каждый кадр интересным и выразительным.</p>

<p>Фильмография. Оператор-постановщик:</p>
<ul>
<li>&#8220;Хористка&#8221; реж. Р.Шоазимов (Участие в кинофестивалях: Didor 2012г.; Кинотавр 2013г.)
<li>&#8220;Характеры&#8221; реж. Р.Шоазимов (Кинотавр 2012г.)
<li>&#8220;Провокатор&#8221; реж.В.Вишневский 2013г. (АртКино 2013г.)
<li>&#8220;Приданое&#8221; реж. Р.Шоазимов (Святая Анна 2013г.)
<li>&#8220;Невеста&#8221; реж. Р.Романов 2013г.
<li>&#8220;Раскрыть секрет&#8221; реж. С. Петров 2013г.
<li>&#8220;Любить&#8221; реж. Н.Тумова 2014г. (Святая Анна 2015г.)
<li>&#8220;Земляничный Йогурт&#8221; 2014г. Реж. С. Лобанова.
<li>&#8220;Игрушка ремейк&#8221; 2014г. Реж. М. Мороз.
<li>&#8220;Зову голубые дожди&#8221; 2015г. Реж. Г. Тукшаитова.
<li>&#8220;Зимняя Сказка: Ветер&#8221; 2015г. Реж. Андрей Троицкий.
<li>&#8220;Клофелинщица&#8221; 2015г. Реж. С. Петров
<li>&#8220;Leto production&#8221; 2013-2015г.
<li>Сериал &#8220;Пропавшие, последняя надежда&#8221; 2014-2015г.
<li>&#8220;Сон обезьяны&#8221; (п/м) 2016г. Реж. Р.Шоазимов.
<li>&#8220;Талант&#8221; 2017г. Реж. Елена Нодель (Каннский фестиваль)
<li>&#8220;Подсекай ТВ&#8221; 2016-2017г.
<li>&#8220;Heaven TV Production&#8221; 2014-2017г.
<li>&#8220;Bakker Media&#8221; 2016-1017г.
</ul>

<p>Оператор:</p>
<ul>
<li>Онлайн канал &#8220;Вспорте&#8221; 2012г.</li>
<li>Медиахолдиг &#8220;ПрофМедиа&#8221; 2013-2014г.</li>
<li>Сериал &#8220;Реальная школа&#8221; 2012г.</li>
<li>Сериал &#8220;Чтец&#8221; 2015г.</li>
<li>Сериал &#8220;Касл&#8221; 2016-2017г.</li>
</ul>

<p>Также в портфолио Султана рекламные ролики и корпоративные видео для многих 
крупных компаний, музыкальные клипы, в том числе для Noise MC.</p>





<div class="img img--fullContainer img--14xLeading" style="background-image: url({{ site.baseurl_posts_img }}sergey.jpg);"></div>
<h3>Сергей Петров, второй режиссер</h3>

<p>Крутой профессионал с 5-летним стажем работы в сфере кино и телеиндустрии. Вот что Сергей говорит о себе:</p>

<blockquote class="u--startsWithDoubleQuote">
&#8220;Эффективный второй режиссер должен знать очень много о съемочном процессе, чтобы понимать, как его контролировать. 
Так сложилось, что мне довелось поработать в разных ролях на съемочной площадке - как творческих, так и организационных, 
технических, а значит, все их прочувствовать. Вторым режиссером участвовал в сериале для телеканала Россия, 
программы для Матч ТВ, полнометражных фильмах, а также во множестве рекламных проектов и короткометражных фильмов. 
На данном этапе полностью перешёл в сферу организации съемок и в дополнение к роли второго режиссера состою в продюсерской 
команде одной из кинокомпаний Москвы. Самая большая ценность для меня – это командная работа и, как следствие, – 
великолепный результат!&#8221;
</blockquote>

<p>Сергей не останавливается на достигнутом и уже имеет несколько режиссерских работ (короткометражный фильм и 
документальный фильм &#8220;Выбираю жить. Психосоматика в действии&#8221;)</p>





<div class="img img--fullContainer img--14xLeading" style="background-image: url({{ site.baseurl_posts_img }}gulnara.jpg);"></div>
<h3>Гульнара Тукшаитова, звукорежиссер</h3>

<p>Родилась в Москве, закончила Санкт-Петербургский государственный институт кино и телевидения 
по специальности звукорежиссура аудиовизуальных искусств. В 2016г получила диплом в третьем 
международном конкурсе-фестивале студенческих работ звукорежиссеров в номинации &#8220;Лучший 
дебют&#8221; за звуковое решение фильма &#8220;Вниз в винный погребок&#8221;.</p>

<p>Короткометражные проекты:</p>
<ul>
   <li>&#8220;Зову голубые дожди&#8221;</li>
   <li>&#8220;Щука&#8221;</li>
   <li>&#8220;Талант&#8221;</li>
   <li>Мультипликационный фильм &#8220;Зверь&#8221;</li>
</ul>
<p>Альтернативное озвучание:</p>
<ul>
    <li>&#8220;Вниз в винный погребок&#8221;</li>
    <li>&#8220;Престо&#8221;</li>
</ul>

<p>Помимо звукорежиссуры, Гульнара профессионально занимается музыкой, играет в дрим-поп/шугейз 
группе &#8220;Life on Venus&#8221; на ударных. В музыкальном плане за плечами работа с шестью московскими 
коллективами различных стилей и жанров.</p>




<div class="img img--fullContainer img--14xLeading" style="background-image: url({{ site.baseurl_posts_img }}marta.jpg);"></div>
<h3>Марта Эркенова, художник кино</h3>

<p>Родилась в Москве в кинематографической семье. Окончила ВГИК по специальности &#8220;
Художник кино и телевидения&#8221;. В портфолио Марты полный метр, множество короткометражных 
фильмов, рекламных роликов и музыкальных клипов, в том числе совместно с лейблом Максима 
Фадеева. Делает любой кадр похожим на живописное полотно.</p>

      </div>
    </div>
    <hr class="u-clearHr"/>
    <hr class="u-clearHr"/>
    <hr/>
    <div class="container container--content">
      <div class="content-body">
        {% include subscribe.html %}
        {% include footer.html %}
      </div>
    </div>
  </section>
</article>
