---
layout: default
title: About Elena Nodel
---
<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="{{site.base-url}}assets/images/hero/lena.jpg" style="" alt="">
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>Elena Nodel</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              Director, Screenwriter, Producer
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">

        <h4>About me</h4>

<p>Hello! I'm Elena Nodel, founder of Nodel Films.</p>

<p>It happens that after almost 20 years of successful legal career I moved in filmmaking. 
I made my first short video while being a lawyer for anniversary of the company for which I worked. 
I felt in love with the process and the result of filmmaking so much that a can't stop till now.</p>

<p>My short film &#8220;The Talent&#8221; was participated in Short Film Corner in Cannes Festival and in 
official selection of Diversity in Cannes showcase.</p>

<p>School children, lawyers, employees of different corporations, moms and dads are participated in 
my musical videos and short films. Most of them couldn't even imagine that they can be movie stars.</p>

<p>I adore to see how ordinary people are opening their mind and souls during our shots, 
how they are happy to be a part of filmmaking process and proud with the result.</p>

<p>Cinema is always a feast. Sometimes the filmmaking process is really hard job, 
but it's always a happiness.</p>

<p>If you want to know my full story, please,  
<a target="_blank" href="http://7sisters.ru/children/40899-elena-nodel-rasskazala-kak-ispolnila-svoyu-detskuyu-mechtu-kogda-sama-stala-mamoy-i-snyala-film-kotoryiy-pokazhut-v-kannah.html">
read this interview</a>.</p>

<p>And see this short music video with show real.</p>

<iframe src="https://player.vimeo.com/video/223876161" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      </div>
    </div>
    <hr class="u-clearHr"/>
    <hr class="u-clearHr"/>
    <hr/>
    <div class="container container--content">
      <div class="content-body">
        {% include subscribe.html %}
        {% include footer.html %}
      </div>
    </div>
  </section>
</article>
