---
layout: default
title: About Elena Nodel
---
<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="{{site.base-url}}assets/images/hero/lena.jpg" style="" alt="">
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>Elena Nodel</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              Director, Screenwriter, Producer
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">
        <h4>About</h4>

<p>During the years 2016-2017 she has made her short film &#8220;The Talent&#8221;, 
which was selected to be screened at Short Film Corner during Cannes Festival 2017 
and in Diversity in Cannes Official Selection. 
This film was scripted, directed and produced by Elena. She wrote the song to this film as well.</p>

<p>Elena already produced multiple musical videos as screenwriter, 
director and producer and one short film as screenwriter, producer and starring as well.</p>

<p>As a director and a screenwriter she is interested in the theme of the relationship 
of a woman to her age, a crisis of 40 years, family values, topics related to 
self-improvement, with a person's awareness of the laws of being. She thinks that 
the inner world of every person generates external events. People around are an endless, 
inexhaustible source of inspiration for Elena. She has plans to share these thoughts in her future films.</p>

<p>Elena strongly believes that people should follow their dreams and loves helping to make dreams come true.</p>

      </div>
    </div>
    <hr class="u-clearHr"/>
    <hr class="u-clearHr"/>
    <hr/>
    <div class="container container--content">
      <div class="content-body">
        {% include subscribe.html %}
        {% include footer.html %}
      </div>
    </div>
  </section>
</article>
